<ion-header>
  <ion-toolbar>
    <ion-title>Salvar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="floating">Nome</ion-label>
    <ion-input name="nome" [(ngModel)]="cidade.nome"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Estado</ion-label>
    <ion-select [(ngModel)]="cidade.estado">
      <ion-select-option *ngFor='let estado of listaEstado | async' [value]="estado">
        {{estado.nome}}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button expand="full" color="dark" (click)="salvar()">Salvar</ion-button>

</ion-content>
