<ion-header>
  <ion-toolbar>
    <ion-title> Cadastro </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-label> Nome: </ion-label>
<ion-input [(ngModel)]="cadastro.nome"></ion-input>

<ion-label> Matéria: </ion-label>
<ion-item>
  <ion-label position="floating">Selecione</ion-label>
  <ion-select [(ngModel)]="cadastro.materia">
    <ion-select-option *ngFor='let materia of listaMateria | async' [value]="string">
      {{cadastro.materia}}
    </ion-select-option>
  </ion-select>
</ion-item>


<ion-label> Com que frequência você estuda essa matéria? </ion-label>
<ion-input [(ngModel)]="cadastro.frequencia"> </ion-input>

<ion-label> Com que frequência você deseja fazer sua autoavaliação? </ion-label>
<ion-input [(ngModel)]="cadastro.aa"> </ion-input>

<ion-button expand="full" color="dark" (click)="cadastrar()" href="aa"> Cadastrar-se </ion-button>
<ion-button expand="full" color="dark" href="cadastro-listar"> Ver todos cadastros </ion-button>

</ion-content>
