<ion-header>
  <ion-toolbar>
    <ion-title> EstudeBem</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-label>  Nome: </ion-label>
  <ion-input [(ngModel)]="usuario.nome"></ion-input>

  <ion-label> Matéria: </ion-label>
  <ion-input [(ngModel)]="usuario.materia"></ion-input>

  <ion-label> Em que frequência você estuda essa matéria? </ion-label>
  <ion-input [(ngModel)]="usuario.frequencia">  </ion-input>

  <ion-label> Em que frequência você deseja fazer sua autoavaliação? </ion-label>
  <ion-input [(ngModel)]="usuario.aa">  </ion-input>


  <ion-button expand="full" color="dark" (click)="cadastrar()"> Cadastrar-se </ion-button>

</ion-content>
