<ion-header>
  <ion-toolbar>
    <ion-title>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lista de Cadastros</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <br>
    <ion-label>Nome cadastrado:</ion-label>
    <ion-searchbar [(ngModel)]="valor" (ionChange)="filtrar()"></ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let cadastro of listaFiltro">
      <ion-label>{{cadastro.nome}}</ion-label>
        <ion-button expand="full" color="dark" (click)="excluir(cadastro.key)"> <ion-icon name="close-circle"></ion-icon> </ion-button>
        <ion-button expand="full" color="dark" (click)="alterar(cadastro.key)"> <ion-icon name="create"></ion-icon> </ion-button>
    </ion-item>
  </ion-list>

  <ion-button expand="full" color="dark" href="home"> Voltar à página inicial </ion-button>

</ion-content>
