<ion-header>
  <ion-toolbar>
    <ion-title>CadastroListar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let cadastro of listaCadastros| async">
      <ion-label>{{cadastro.nome}}</ion-label>
      <ion-label>{{cadastro.materia}}</ion-label>
      <ion-label> {{cadastro.frequencia}} </ion-label>
      <ion-label> {{cadastro.aa}} </ion-label>

    </ion-item>
  </ion-list>

  <ion-button expand="full" color="dark" href="home"> Voltar à página inicial </ion-button>
</ion-content>
