<ion-header>
  <ion-toolbar>
    <ion-title>
       Estude Bem
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-input  [(ngModel)]="login.usuario">   Usuário:   </ion-input>
  <ion-input> </ion-input>
  <ion-input [(ngModel)]="login.senha"> Senha: </ion-input>
  <ion-input></ion-input>

  <ion-button expand="full" color="dark" href = "aa" (click)="logar()"> Entrar </ion-button>
  <ion-button expand="full" color="dark" href = "cadastro"> Cadastrar-se </ion-button>
  <ion-button expand="full" color="dark" href = "cadastro-listar"> Lista </ion-button>


</ion-content>
